body {
    text-align: center;
    font-family: Indie Flower;
    background-color: black;
    color: white;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  
  /*Spacing between title and verse*/
  .header {
    padding-bottom: 10%;
  }
  
  /*New Quote and Tweet button styling*/
  button {
    color: white;
    background-color: black;
    border: white;
    border-style: solid;
    border-radius: 5%;
    font-size: 25px;
    padding: 5px 7px 5px 7px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  
  /*Footer name and link styling*/
  .footer {
    text-decoration: none;
    color: white;
    bottom: 0;
    left: 0;
    margin-left: 2%;
  }
  
  /*To remove blue coloring and hover effect of link*/
  a:link, a:hover, a:active, a:visited {
    color: white;
    text-decoration: none;
  }
  
  /* To remove extra spacing on mobile phones*/
  @media (max-width: 767px) {
      .styleName {
          display:none;
      }
  }
  
  @font-face {
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    src: local('Indie Flower'), local('IndieFlower'), url(https://fonts.gstatic.com/s/indieflower/v8/10JVD_humAd5zP2yrFqw6ugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  }